# Node modules
node_modules/

# Backup & archives
Backup/
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / dist
dist/
build/
coverage/

# Env files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Editors / IDE
.vscode/
.idea/
*.iml
